<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Find The Book</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <section>
    <header>
      <h1>Find The Book or view <a href="/bookmark">bookmarked books</a></h1>
      <input placeholder="Search for your book">
        <button id="search-button">Search</button>
    </header>
    <div class="information">
    </div>
    </section>
	<script src="main.js"></script>
  </body>
</html>
